.navigation {
    &__checkbox {
        display: none;

        // FUNCTIONALITY
        &:checked ~ {
            .navigation__button > .navigation__icon {
                background-color: transparent;

                &:before {
                    transform: rotate(135deg);
                    top: 0;
                }

                &:after {
                    transform: rotate(-135deg);
                    top: 0;
                }
            }

            .navigation__background {
                transform: scale(100);
            }

            .navigation__nav {
                opacity: 1;
                width: 100%;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    &__button {
        background-color: $color-white;
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        position: fixed;
        top: 6rem;
        right: 6rem;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
        text-align: center; /* centers the span with 3 horizontal stripes */
        cursor: pointer;

        @include respond(tab-port) {
            top: 4rem;
            right: 4rem;
        }

        @include respond(phone) {
            top: 3rem;
            right: 3rem;
        }

        &:hover .navigation__icon {
            &:before {
                top: -1rem;
            }

            &:after {
                top: 1rem;
            }
        }
    }

    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        z-index: 1000;
        transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);

        @include respond(tab-port) {
            top: 4.5rem;
            right: 4.5rem;
        }

        @include respond(phone) {
            top: 3.5rem;
            right: 3.5rem;
        }
    }

    &__nav {
        height: 100vh;
        // width: 100%;
        position: fixed;
        top: 0;
        left: -30rem;
        z-index: 1500;

        opacity: 0;
        width: 0;
        transition: all 0.8s cubic-bezier(0.07, 0.44, 0.22, 0.91);
    }

    &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
        width: 100%;
    }

    &__item {
        margin: 1rem;
    }

    &__link {
        &:link,
        &:visited {
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            padding: 1rem 7rem;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
            background-size: 220%; /* Thus, the whole original background (originally with the size coinciding with the containing block dimensions) with the skewed border between the gradients/colors which was in the middle has grown more than twice, making this skewed border move outside of the borders of the containing block and covering the whole block with the first color of the background */
            transition: all 0.4s;

            span {
                margin-right: 1.5rem;
                display: inline-block;
            }
        }

        &:hover,
        &:active {
            background-position: 100%; /* On hover, the background shifts to the left side because the position is now 100% */
            color: $color-primary;
            transform: translateX(1rem);
            -webkit-transform: translateX(1rem);
        }
    }

    // ICON
    &__icon {
        position: relative;
        margin-top: 3.5rem;

        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: $color-grey-dark-3;
            display: inline-block;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all 0.2s;
            transform-origin: center;
        }

        &::before {
            top: -0.8rem;
        }

        &::after {
            top: 0.8rem;
        }
    }
}
