.btn {
    &,
    &:link,
    &:visited {
        font-size: $default-font-size;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all 0.2s;
        position: relative;

        // Change for the <button> element
        border: none;
        cursor: pointer;
    }

    &:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2); /* X offset, Y offset, blur, color */

        &::after {
            transform: scale(1.4, 1.6);
            opacity: 0;
        }
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-0.1rem);
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    }

    &--white {
        background-color: $color-white;
        color: $color-grey-dark;

        &::after {
            background-color: $color-white;
        }
    }

    &--green {
        background-color: $color-primary;
        color: $color-white;

        &::after {
            background-color: $color-primary;
        }
    }

    &::after {
        content: "";
        position: absolute;
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s;
    }

    &--animated {
        animation: moveInBottom 0.5s ease-out 0.75s;
        animation-fill-mode: backwards; /* Animation keeps the state of the 1st keyframe (here -  opacity: 0; transform: translateY(20px);) during the period of the animation-delay (here - .75s) */
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        padding: 3px;
        border-bottom: 1px solid $color-primary;
        transition: all 0.2s;
    }

    &:hover {
        color: $color-white;
        background-color: $color-primary;
        box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, 0.15);
        transform: translateY(0);
    }
}
