*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* Since later on in the code we're going to use rem units for responsive design, we will set the root font size to 10px, not 16px which is usually the default browser value. However, if we set the root font size to 10px by hard coding (putting the value of 10px), we will prevent the user from setting a more convenient value in the browser. Therefore, we set the calculated value of 10px by declaring a percentage of 62.5 (from 16px which is the default value of the browser)  */
html {
    font-size: 62.5%; //1rem = 10px; 10px/16px = 62.5%

    @include respond(tab-land) {
        font-size: 56.25%; //1rem = 9px; 9px/16px = 56.25%
    }
    
    @include respond(tab-port) {
        font-size: 50%; //1rem = 8px; 8px/16px = 50%
    }

    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12px; 12px/16px = 75%
    }
}

body {
    box-sizing: border-box;
}
